<link rel="stylesheet" type="text/css" href="{{styleUrl}}">

<div id="mb-container">
  <div id="mb-header">
    <span id="mb-header-title">Master Bookmarklet</span>
    <a href="#" id="mb-close" onclick="document.body.removeChild(document.getElementById('mb-container'));">Close</a>
  </div>
  <div id="mb-content">
  {{#each items}}
    <div class="mb-item" onclick="document.body.removeChild(document.getElementById('mb-container'));setTimeout(function()&#123;{{code}}&#125;,10); " style="background-image: url({{thumbnailUrl}});">
      <div class="mb-item-overlay">
        <div class="mb-item-name">{{name}}</div>
      </div>
    </div>
  {{/each}}
  </div>
</div>