#login-buttons {
  padding: 3px 0;
}

#main {
  margin-top: 20px;
}
  
.media .pull-left {
  height: 50px;
  width: 50px;
  background-size: cover;
}

.list-group-item.add {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}

#main textarea.readonly {
	background-color: #fefefe;
	cursor: auto;
}
