/* CSS declarations go here */
#login-buttons {
  padding: 3px 0;
}

#main {
  margin-top: 20px;
}
  
.media .pull-left {
  height: 50px;
  width: 50px;
  background-size: cover;
  background-image: ;
}

.list-group-item.add {
  text-align: center;
  font-size: 2em;
  font-weight: 400;
}