#mb-container {
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 100000;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
  text-align: center;
}
#mb-container #mb-header {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #eee;
}
#mb-container #mb-header #mb-header-title {
  font-size: 1.4em;
  padding: 0 10px;
  float: left;
}
#mb-container #mb-header #mb-close {
  float: right;
  color: #888;
  font-size: 0.8em;
  padding: 0 10px;
  text-decoration: none;
}
#mb-container #mb-content {
  background-color: #fefefe;
  padding: 10px 0 0 0;
  border-bottom: 3px solid #eee;
}
#mb-container #mb-content .mb-item {
  display: inline-block;
  height: 90px;
  width: 90px;
  margin: 4px;
  background-size: cover;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: relative;
}
#mb-container #mb-content .mb-item .mb-item-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
#mb-container #mb-content .mb-item .mb-item-overlay .mb-item-name {
  padding: 3px 5px;
  font-size: 1em;
  font-weight: 400;
}